// *{
//     background-image: linear-gradient(to right top, #397eff, #00a6ff, #00c5ff, #00dddd, #00efb0, #4bef88, #79ec57, #a5e600, #c7d200, #e0bd00, #f3a700, #ff911a);
// }
html, body{
    // background-image: linear-gradient(to right top, #397eff, #00a6ff, #00c5ff, #00dddd, #00efb0, #4bef88, #79ec57, #a5e600, #c7d200, #e0bd00, #f3a700, #ff911a);
    // background-image: linear-gradient(to right top, #0b1462, #00448f, #006da2, #00939d, #00b78e, #1dc576, #50d151, #82da00, #a9d400, #cacd00, #e6c500, #ffbc00);
    // background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-color: rgb(239, 239, 239);
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}